@import "tailwindcss";

body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 60px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE และ Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  @keyframes floating {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animate-floating {
    animation: floating 4s ease-in-out infinite;
  }

  .animation-delay-0 {
    animation-delay: 0s;
  }

  .animation-delay-100 {
    animation-delay: 01s;
  }

  .animation-delay-200 {
    animation-delay: 2s;
  }

  .animation-delay-300 {
    animation-delay: 3s;
  }

  .animation-delay-400 {
    animation-delay: 4s;
  }

  .animation-delay-500 {
    animation-delay: 5s;
  }

  .animation-delay-600 {
    animation-delay: 6s;
  }

  .animation-delay-700 {
    animation-delay: 7s;
  }
}
